@import '../colors.scss';

.Map {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .Map-Tile {

        &.type-0 {
            background-color: $default;
            border: 1px solid lighten($default, 10%);
        }

        &.type-1 { background-color: $land; }
        &.type-2 { background-color: $water; }
        &.type-3 { background-color: $mountain; }
        &.type-4 { background-color: $forest; }

        &:hover {
            opacity: .5;
        }
    }


    canvas {
        flex: 1;
        max-height: 100%;
        max-width: 100%;
        image-rendering: pixelated;
        image-rendering: crisp-edges;
    }
}
