@import '../colors.scss';

.Sidebar {
    background-color: gray;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-left: 2px solid white;
    color: white;
    font-weight: bold;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    .field {
        display: flex;
        flex-direction: row;
        align-items: center;

        label {
            flex: 1;
        }
        input {
            flex: 1;
            box-sizing: border-box;
            padding: 8px;
            font-weight: bold;
            font-size: medium;
        }
    }

    button {
        font-variant: small-caps;
        border: none;
        padding: 8px;
        font-weight: bold;
        font-size: medium;
        color: white;
        background-color: rgba(white,.3);
        cursor: pointer;

        &:hover {
            background-color: rgba(white, .5);
        }
    }

    h4, li {
        font-variant: small-caps;
    }

    li {
        font-size: small;
    }

    .grid4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 8px;
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .Slider {
        flex: 1;
        margin-bottom: 15px;
    }

    .tile {
        height: 30px;
        width: 30px;

        &.tile-1 { background-color: $land; }
        &.tile-2 { background-color: $water; }
        &.tile-3 { background-color: $mountain; }
        &.tile-4 { background-color: $forest; }
        &.tile-5 { background-color: $snow; }
        &.tile-6 { background-color: $desert; }
    }

    button.Brush {
        height: 30px;
        width: 30px;
        align-self: center;
        justify-self: center;
        position: relative;
        border: 3px solid $default;

        &.active {
            border-color: white;
        }

        &.brush--1 {
            background-color: black;
        }
        &.brush-1 { background-color: $land; }
        &.brush-2 { background-color: $water; }
        &.brush-3 { background-color: $mountain; }
        &.brush-4 { background-color: $forest; }
        &.brush-5 { background-color: $snow; }
        &.brush-6 { background-color: $desert; }

        &:after {
            content: '';
            background-color: rgba(white, .3);
            visibility: hidden;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }

        &:hover {
            &:after {
                visibility: visible;
            }
        }
    }
}